.halfWidth{
    width:50%;
}
.panel{
    border: 1px solid #dee2e6;
}
.messageTextArea{
    min-height: 100px;
  
}
.messageComponent, .addMessage{
    padding:10px;
}
.addMessage{
    margin-top:10px;
    /*padding-right:20px;*/
}
.allMessages{
    margin-top: 10px;
}
.black{
    color:black;
}